# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0   4  15  12   1  16
1  14   3  16  18   2
2  13  16  17  13  15
3  16  19  11  15  12
4   1  14   7  17  12

# Akses nilai variabel pada query()

In [5]:
df.query('A > 10')

    A   B   C   D   E
1  14   3  16  18   2
2  13  16  17  13  15
3  16  19  11  15  12

In [7]:
rerata = df['A'].mean()
rerata

9.6

In [9]:
df.query('A > @rerata')

    A   B   C   D   E
1  14   3  16  18   2
2  13  16  17  13  15
3  16  19  11  15  12