# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [9]:
n_rows=10
n_cols=5
cols= tuple('ABCDE')
df= pd.DataFrame(np.random.randint(1,10,size= (n_rows,n_cols)),
                columns= cols)

df

   A  B  C  D  E
0  8  5  2  8  9
1  6  2  4  2  5
2  3  7  9  1  2
3  6  6  2  1  3
4  5  1  5  3  2
5  7  9  5  5  4
6  3  4  5  6  9
7  5  8  7  8  8
8  1  2  1  1  2
9  9  9  3  6  2

# Menghitung jumlah baris menurut kriteria tertentu

In [11]:
(df['A']<5).sum()

3

In [13]:
(df['A']<5).mean()

0.3