# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), 
                  columns=cols)
df

   usia
0    82
1    87
2    69
3    55
4    41
5    25
6     2
7    13
8    30
9    95

# Pengelompokkan nilai numerik ke dalam beberapa kategori menggunakan cut()

In [5]:
df['kelompok_usia'] = pd.cut(df['usia'], 
                             bins=[0, 18, 65, 99], 
                             labels=['anak', 'dewasa', 'manula'])
df

   usia kelompok_usia
0    82        manula
1    87        manula
2    69        manula
3    55        dewasa
4    41        dewasa
5    25        dewasa
6     2          anak
7    13          anak
8    30        dewasa
9    95        manula