# Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [3]:
n_rows = 365
n_cols = 2
cols = ['col1', 'col2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

print(df)

            col1  col2
2024-01-01    19    17
2024-01-02     6     3
2024-01-03    16    14
2024-01-04    10     7
2024-01-05    17     9
...          ...   ...
2024-12-26    11     6
2024-12-27    18     6
2024-12-28     1    16
2024-12-29    19     4
2024-12-30     3     6

[365 rows x 2 columns]

# Seleksi weekdays dan weekends

In [5]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            col1  col2
2024-01-01    19    17
2024-01-02     6     3
2024-01-03    16    14
2024-01-04    10     7
2024-01-05    17     9
2024-01-08     3     9
2024-01-09     5     5

In [7]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            col1  col2
2024-01-06    18     9
2024-01-07    15     9
2024-01-13    14    17
2024-01-14    16    11
2024-01-20    17     8
2024-01-21    16     7
2024-01-27     5    11