# Import Modules

In [8]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [10]:
n_rows = 365 * 24 
n_cols = 2         
cols = ['col1', 'col2'] 

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.date_range(start='2023-01-01', periods=n_rows, freq='h')

df.head()

                     col1  col2
2023-01-01 00:00:00    19     6
2023-01-01 01:00:00     1    18
2023-01-01 02:00:00    10    17
2023-01-01 03:00:00     6    10
2023-01-01 04:00:00    14     7

# Resampling data dengan interval monthly

In [12]:
df.resample('ME')['col1'].sum().to_frame()

            col1
2023-01-31  7315
2023-02-28  6608
2023-03-31  7538
2023-04-30  6853
2023-05-31  7231
2023-06-30  7116
2023-07-31  7726
2023-08-31  7529
2023-09-30  7368
2023-10-31  7410
2023-11-30  7174
2023-12-31  7234

In [20]:
df.resample('ME')['col1'].sum()

2023-01-31    7315
2023-02-28    6608
2023-03-31    7538
2023-04-30    6853
2023-05-31    7231
2023-06-30    7116
2023-07-31    7726
2023-08-31    7529
2023-09-30    7368
2023-10-31    7410
2023-11-30    7174
2023-12-31    7234
Freq: ME, Name: col1, dtype: int32

# Resampling data dengan interval daily

In [13]:
df.resample('D')['col1'].sum().to_frame()

            col1
2023-01-01   198
2023-01-02   194
2023-01-03   244
2023-01-04   197
2023-01-05   265
...          ...
2023-12-27   187
2023-12-28   215
2023-12-29   266
2023-12-30   258
2023-12-31   214

[365 rows x 1 columns]