# Import Modules

In [35]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

# Persiapan Data Frame

In [37]:
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

   omset  operasional
0     17           16
1     14            4
2     16            7
3     18           17
4     17           19

In [39]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] * 10_000
df

     omset  operasional
0  1700000       160000
1  1400000        40000
2  1600000        70000
3  1800000       170000
4  1700000       190000

In [41]:
n_rows = 365  

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, 2)), columns=['col1', 'col2'])

df.index = pd.date_range(start='2024-01-01', periods=n_rows, freq='D')

df = df.reset_index().rename(columns={'index': 'tanggal'})

print(df)

       tanggal  col1  col2
0   2024-01-01    13    16
1   2024-01-02     3     8
2   2024-01-03     2    14
3   2024-01-04     1    14
4   2024-01-05     1    16
..         ...   ...   ...
360 2024-12-26     4    16
361 2024-12-27     7     4
362 2024-12-28    16     5
363 2024-12-29     4     7
364 2024-12-30     2     8

[365 rows x 3 columns]

# Melakukan formatting tampilan Data Frame

In [43]:
formatku = {'tanggal':'{:%d/%m/%y}', 
            'operasional':'Rp {:.2f}',
            'omset':'Rp {:.2f}'}

laporan = df.style.format(formatku)
laporan

In [45]:
type(laporan)

pandas.io.formats.style.Styler

In [47]:
df.head()

     tanggal  col1  col2
0 2024-01-01    13    16
1 2024-01-02     3     8
2 2024-01-03     2    14
3 2024-01-04     1    14
4 2024-01-05     1    16

In [25]:
# laporan.hide_index()

In [49]:
df.style.hide()

In [51]:
laporan.set_caption('Data Omset dan Operasional')

In [55]:
## DEPRICATED ##
# laporan.highlight_min('omset', color='pink')
# laporan.highlight_max('omset', color='lightgreen')

# laporan.highlight_min('operasional', color='lightblue')
# laporan.highlight_max('operasional', color='grey')