In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [7]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size = (n_rows, n_cols)), columns = cols)
df

   A  B  C  D  E
0  2  3  9  2  3
1  7  7  5  3  7
2  6  7  3  4  3
3  6  9  7  4  1
4  7  9  8  2  3

In [5]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

In [9]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        2        3        9        2        3
1        7        7        5        3        7
2        6        7        3        4        3
3        6        9        7        4        1
4        7        9        8        2        3

In [11]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        2        3        9        2        3
1        7        7        5        3        7
2        6        7        3        4        3
3        6        9        7        4        1
4        7        9        8        2        3